.carusella{
    
    .carousel-caption{
        top: 50%;
        h2{
            font-family: 'Sacramento', cursive;
            text-align: left;
            font-size: 38px;
        }
        h1{
            text-transform: uppercase;
            text-align: left;
            font-size: 49px;
            padding: 10px 0;
        }
        p{
            text-align: left;
            padding: 10px 0;
            font-size: 20px;
        }
        button{
            display: flex;
            justify-content: flex-start;
            padding: 15px 30px;
            font-size: 24px;
            border-radius: 10px;
        }
    }
    .carousel-item {
        h1,p,h2{
            color: #000;
        }
    }
}