.inputSelect {
  .content {
    .row {
      input {
        padding: 10px 30px;
        border-radius: 20px;
      }
      .search {
        i {
          position: relative;
          left: 25px;
          font-size: 20px;
        }
      }
      .form-select{
        border-radius: 20px;
        padding: 10px 30px;
        width: 20%;
      }
      .select{
        display: flex;
        justify-content: end;
        align-items: center;
      }
    }
  }
}